body {
  background: var(--background);
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: #000000;
  --orange: #f84204;
  --orange-hover: #f95c04;
  --grey: #676767;
  --background: #ffffff;
  --white: #ffffff;
  --foreground: #171717;
  --line-color: #d3d3d3;
  --font-inter-sans: Inter, sans-serif;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
