.outer {
  display: flex;
  position: relative;
  max-width: 1840px;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 1440px) {
    width: 97%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.badge {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;

  @media screen and (max-width: 768px) {
    left: -5%;
    bottom: -2%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 0 130px 0;
  background: var(--orange);
  position: relative;
  width: 100%;
  --r: 50px; /* the radius */
  --s: 30px; /* size of inner curve */
  --x: 280px; /* horizontal offset (no percentage) */
  --y: 30px; /* vertical offset (no percentage) */
  border-radius: var(--r);
  --_m: / calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(from 180deg at var(--r) calc(100% - var(--r)), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  mask: calc(var(--_d) + var(--x)) 100% var(--_m),
  0 calc(100% - var(--_d) - var(--y)) var(--_m),
  radial-gradient(var(--s) at 0 100%, #0000 99%, #000 calc(100% + 1px)) calc(var(--r) + var(--x)) calc(-1 * var(--r) - var(--y)),
  var(--_g) calc(var(--_d) + var(--x)) 0,
  var(--_g) 0 calc(-1 * var(--_d) - var(--y));
  mask-repeat: no-repeat;

  h1 {
    font-size: 70px;
    font-family: Inter-Tight, sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }

    @media screen and (max-width: 475px) {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 1440px) {
    padding: 90px 0 125px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0 100px 0;
    width: 100%;
    border-radius: 0;

    --r: 40px; /* the radius */
    --s: 30px; /* size of inner curve */
    --x: 210px; /* horizontal offset (no percentage) */
    --y: 5px; /* vertical offset (no percentage) */
  }

}

.lines {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrows {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: auto;
  margin: 0 0 150px 50px;

  @media screen and (max-width: 1440px) {
    display: none;
  }
}

.unions {
  display: flex;
  gap: 10px;
  margin: 60px auto 40px auto;

  @media screen and (max-width: 1440px) {
    max-width: 1180px;
    width: 100%;
  }

  @media screen and (max-width: 1281px) {
    max-width: 1100px;
    width: 100%;
    margin: 40px auto 10px auto;
  }

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 40px auto 30px auto;
  }

  @media screen and (max-width: 475px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.benefits {
  display: flex;
  gap: 20px;
  margin: 0 auto;

  @media screen and (max-width: 1290px) {
    gap: 1px;
  }

  @media screen and (max-width: 768px) {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 0 3%;
    gap: 12px;
  }
}