.charts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: auto;
  z-index: 888;
}

.chartsColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}
